@mixin font-size($size, $height: 1.2em, $margin: 1.5em) {
	font-size: $size;
	line-height: $height;
	@if $margin > 0 { margin-bottom: ($margin/$size)+em; } @else { margin-bottom: 0; }
	
	* {
		font-size: 1em;
	}
}

@mixin rem-font($size: 15, $height: 1.2, $margin: 15) {
	font-size: ($size)+px;
	font-size: ($size / 10)+rem;
	line-height: $height;
	padding-bottom: ($margin)+px;
	padding-bottom: ($margin / 10)+rem;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	} 
}

@mixin animation($styles...) {
	-webkit-animation: $styles;
	-moz-animation: $styles;
	-o-animation: $styles;
	animation: $styles;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content; 
	}
	&:-ms-input-placeholder {  
		@content;
	}
}

@mixin noprint {
	@media only print {
		& { display: none; }
	}
}

@mixin print {
	@media only print {
		& {
			@content;
		}
	}
}